.setetres__letter--s {
    div:first-child {
        &::before {
            bottom: 75%;
            height: 25%;
            right: 0;
            transition: height var(--transition-timing) var(--transition-easing) 0ms;
            width: var(--setetres-font-weight);
        }

        &::after {
            height: var(--setetres-font-weight);
            right: 0;
            top: 0;
            transition: width var(--transition-timing) var(--transition-easing) 400ms;
            width: 100%;
        }
    }

    div:nth-child(2) {
        &::before {
            height: 50%;
            left: 0;
            top: 0;
            transition: height var(--transition-timing) var(--transition-easing) 800ms;
            width: var(--setetres-font-weight);
        }

        &::after {
            height: var(--setetres-font-weight);
            left: 0;
            margin-top: calc(#{var(--setetres-font-weight-half)} * -1);
            top: 50%;
            transition: width var(--transition-timing) var(--transition-easing) 1200ms;
            width: 100%;
        }
    }

    div:nth-child(3) {
        &::before {
            height: 50%;
            right: 0;
            top: 50%;
            transition: height var(--transition-timing) var(--transition-easing) 1600ms;
            width: var(--setetres-font-weight);
        }

        &::after {
            bottom: 0;
            height: var(--setetres-font-weight);
            right: 0;
            transition: width var(--transition-timing) var(--transition-easing) 2000ms;
            width: 100%;
        }
    }

    div:last-child {
        &::before {
            bottom: 0;
            height: 25%;
            left: 0;
            transition: height var(--transition-timing) var(--transition-easing) 2400ms;
            width: var(--setetres-font-weight);
        }
    }
}

.setetres--loading {
    .setetres__letter--s {
        div:first-child {
            &::before {
                bottom: 75%;
                height: 0;
                right: 0;
                width: var(--setetres-font-weight);
            }

            &::after {
                height: var(--setetres-font-weight);
                right: 0;
                top: 0;
                width: 0;
            }
        }

        div:nth-child(2) {
            &::before {
                height: 0;
                left: 0;
                top: 0;
                width: var(--setetres-font-weight);
            }

            &::after {
                height: var(--setetres-font-weight);
                left: 0;
                margin-top: calc(#{var(--setetres-font-weight-half)} * -1);
                top: 50%;
                width: 0;
            }
        }

        div:nth-child(3) {
            &::before {
                height: 0;
                right: 0;
                top: 50%;
                width: var(--setetres-font-weight);
            }

            &::after {
                bottom: 0;
                height: var(--setetres-font-weight);
                right: 0;
                width: 0;
            }
        }

        div:last-child {
            &::before {
                bottom: 0;
                height: 0;
                left: 0;
                width: var(--setetres-font-weight);
            }
        }
    }
}
