.setetres__letter--t {
    div:first-child {
        &::before {
            height: var(--setetres-font-weight);
            right: 0;
            top: 0;
            transition: width var(--transition-timing) var(--transition-easing) 0ms;
            width: 100%;
        }

        &::after {
            height: 100%;
            left: 50%;
            margin-left: calc(#{var(--setetres-font-weight-half)} * -1);
            top: 0;
            transition: height var(--transition-timing) var(--transition-easing) 500ms;
            width: var(--setetres-font-weight);
        }
    }
}

.setetres--loading {
    .setetres__letter--t {
        div:first-child {
            &::before {
                height: var(--setetres-font-weight);
                right: 0;
                top: 0;
                width: 0;
            }

            &::after {
                height: 0;
                left: 50%;
                margin-left: calc(#{var(--setetres-font-weight-half)} * -1);
                top: 0;
                width: var(--setetres-font-weight);
            }
        }
    }
}
