@font-face {
  font-family: 'alagardmedium';
  src: url('~/assets/fonts/alagard.woff2') format('woff2'),
  url('~/assets/fonts/alagard.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pixel_operatorregular';
  src: url('~/assets/fonts/pixeloperator.woff2') format('woff2'),
  url('~/assets/fonts/pixeloperator.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-weight: normal;
  font-style: normal;
}

body::before {
  background-image: url('~/assets/images/noise.gif');
  background-repeat: repeat;
  background-position: center center;
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  opacity: .05;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 50;
}

.pattern {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.router-link-active {
  @apply text-indigo-400;
}
