@import 'setetres/s';
@import 'setetres/e';
@import 'setetres/t';
@import 'setetres/r';

:root {
    --color-background: #ffffff;
    --color-foreground: #000000;
    --color-primary: blue;
    --color-secondary: #777777;
    --color-tertiary: #ff0030;
    --container-width: 100%;
    --font-family: 'Times New Roman', times, serif;
    --font-size-menu: calc(var(--spacer-6) * 2);
    --font-size: calc(var(--spacer-6) * 2);
    --font-size-title: calc(var(--spacer-7) * 3);
    --gutter: calc(var(--spacer-4) * 2);
    --gutter-half: calc(var(--spacer-4) * 2);
    --letter-spacing: 2px;
    --setetres-font-weight-half: 1px;
    --setetres-font-weight: 2px;
    --spacer-1: .25rem; // 4px
    --spacer-2: .5rem; // 8px
    --spacer-3: .75rem; // 12px
    --spacer-4: 1rem; // 16px
    --spacer-5: 1.25rem; // 20px
    --spacer-6: 1.5rem; // 24px
    --spacer-7: 1.75rem; // 28px
    --spacer-8: 2rem; // 32px
    --transition-easing: cubic-bezier(.2, 1, .2, 1);
    --transition-timing: 500ms;
    
    @media (min-width: 1200px) {
        --font-size-title: calc(var(--spacer-7) * 4);
        --container-width: 1400px;
        --gutter: calc(var(--spacer-4) * 4);
    }
}

:root {
    --color-setetres: white;
}

.setetres {
    bottom: 0;
    display: flex;
    left: 0;
    margin: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition:
    top var(--transition-timing) var(--transition-easing),
    right var(--transition-timing) var(--transition-easing),
    bottom var(--transition-timing) var(--transition-easing),
    left var(--transition-timing) var(--transition-easing);
    
    &__letter {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        margin: 0 calc(var(--setetres-font-weight) * 10);
        overflow: hidden;
        position: relative;
        width: 12.5%;
        
        div {
            &::before,
            &::after {
                background-color: var(--color-setetres);
                content: '';
                display: block;
                position: absolute;
                transition: background-color var(--transition-timing) var(--transition-easing);
            }
        }
        
        &:first-child {
            margin-left: 0;
        }
        
        &:last-child {
            margin-right: 0;
        }
    }
    
    &--loaded {
        .setetres__letter div {
            &::before,
            &::after {
                transition-delay: 0ms;
            }
        }
    }
}
