@import 'setetres/s';
@import 'setetres/e';
@import 'setetres/t';
@import 'setetres/r';

:root {
  --setetres-color: white;
  --setetres-font-weight-half: 1px;
  --setetres-font-weight: 2px;
  --transition-easing: cubic-bezier(.2, 1, .2, 1);
  --transition-timing: 500ms;
}

.setetres {
  display: flex;

  &__letter {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0 calc(var(--setetres-font-weight) * 5);
    overflow: hidden;
    position: relative;
    width: 12.5%;

    div {
      &::before,
      &::after {
        background-color: var(--setetres-color);
        content: '';
        display: block;
        position: absolute;
        transition: background-color var(--transition-timing) var(--transition-easing);
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &--loaded {
    .setetres__letter div {
      &::before,
      &::after {
        transition-delay: 0ms;
      }
    }
  }
}
